.btn-style {
  padding: 8px 14px;
  border: solid #00A9FF;
  background: #00A9FF;
  color: white;
  font-weight: bold;
  border-radius: 4px;
  font-size: 1rem;
  transition: all 0.2s ease-in;
}
.btn-style-secondary {
  padding: 7px 14px;
  background: white;
  color: #00A9FF;
  font-weight: bold;
  border-radius: 4px;
  font-size: 1rem;
  transition: all 0.2s ease-in;
}
.btn-style:hover {
  cursor: pointer;
  background-color: #CDF5FD;
  color: black;
}
.btn-style-secondary:hover {
  cursor: pointer;
  background-color: #00A9FF;
  color: whitesmoke;
}
.signup-content-link {
  margin-top: 8px;
  font-size: 1rem;
}
